<html>
        <head>
            <link rel="stylesheet" href="styles.css">
        </head>
    <body>
            <div class='tasks'>
            <img src='dp.png'>
            <div class='task-bd'>
            <h2>Delete Task</h2>
            <div class='form'>


        <form action="/deletetask.html" method="POST" >
            ID:<input type='text' name='id'><br/>
            <button>Delete</button>
        </form>



            <h3> <a href="/">Home</a> </h3>
            <h3> <a href="newtask.html">New Task</a> </h3>
            <h3> <a href="gettask.html">Tasks</a> </h3>
            <h3> <a href="newdev.html">New Developer</a></h3>
            <h3> <a href="getdev.html">Developers</a></h3>
            <h3> <a href="updatetask.html">Update Task</a> </h3>
            <h3> <a href="deleteall.html">Delete All Completed Task</a> </h3>

            </div>
            </div>
            </div>
    </body>
</html>