<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class='tasks'>
    <img src='dp.png'>
    <div class='task-bd'>
            <img src='list.png' class="list">
        <!-- <h1>ToDo List</h1><br> -->
        <h3> <a href="newtask.html">New Task</a> </h3>
        <h3> <a href="gettask.html">Tasks</a> </h3>
        <h3> <a href="newdev.html">New Developer</a></h3>
        <h3> <a href="getdev.html">Developers</a></h3>
        <h3> <a href="updatetask.html">Update Task</a> </h3>
        <h3> <a href="deletetask.html">Delete Task</a> </h3>
        <h3> <a href="deleteall.html">Delete All Completed Task</a> </h3>

</div>
</div>
</body>

</html>