<html>
        <head>
            <link rel="stylesheet" href="styles.css">
        </head>
    <body>
            <div class='tasks'>
            <img src='dp.png'>
            <div class='task-bd'>
            <h2>New Developer</h2>
            <div class='form'>



        <form action="/newdev.html" method="POST" >
            FirstName<br><input type='text' name='firstName'><br/>
            LastName<br><input type='text' name='lastName'><br/>
            <p>   </p>
            Level<select name='level'>
                <option value="null">----------</option>
                <option value="Beginner">Beginner</option>
                <option value="Expert">Expert</option>
            </select>
            <p>   </p>
            State: <input type="text" name='state'><br/>
            Suburb: <input type="text" name='suburb'><br/>
            Street: <input type="text" name='street'><br/>
            Unit: <input type="text" name='unit'><br/>
            <button>Submit</button>
        </form>

            <h3> <a href="/">Home</a> </h3>
            <h3> <a href="newtask.html">New Task</a> </h3>
            <h3> <a href="gettask.html">Tasks</a> </h3>
            <h3> <a href="getdev.html">Developers</a></h3>
            <h3> <a href="updatetask.html">Update Task</a> </h3>
            <h3> <a href="deletetask.html">Delete Task</a> </h3>
            <h3> <a href="deleteall.html">Delete All Completed Task</a> </h3>
            </div>
            </div>


            
    </body>
</html>